<footer class="bg-body-tertiary text-center text-lg-start page-footer">
      
    <div class="text-center p-3 bg-primary">
     Jose Lopez (CobiDev) © 2024 Copyright:
      <a class="text-body" href="https://github.com/josecobi">https://github.com/josecobi</a>
    </div>
   
  </footer>