<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/media/easyandfast.svg" alt="Project Thumbnail" style="max-width: 100%; height: auto;">
            <div class="card-body">
              <h4>Easy and Fast</h4>
              <p class="card-text">Quickly shorten long URLs with a simple click. Our user-friendly interface makes the process hassle-free.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/media/analitics.svg" alt="Project Thumbnail" style="max-width: 100%; height: auto;">
            <div class="card-body">
              <h4>Detailed Analytics</h4>
              <p class="card-text">Gain insights into link performance with detailed analytics. Check creation and expiration dates, and more.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/media/forfree.svg" alt="Project Thumbnail" style="max-width: 100%; height: auto;">
            <div class="card-body">
              <h4>Free to Use</h4>
              <p class="card-text"> Share your links freely and make the most of our powerful URL shortening tool at no cost. </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div> 
  <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
    <button class="shortenActionBtn btn btn-success p-2 col-2" type="button"><a href="shortenlinks" class="text-decoration-none text-light">Shorten Links</a></button>
  </div>   