<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">QR codes</h2>
      <p class="lead">Coming Soon!</p>
    </div>
    <div class="bg-primary-subtle shadow-sm mx-auto pt-4" style="width: 60%; height: 200px; border-radius: 21px 21px 0 0;">
      <img src="/media/qr-code.svg" alt="qr code icon" style="max-width: 100%; height: auto;">
    </div>
  </div>  