<div class="col-8 d-flex flex-column flex-nowrap justify-content-center align-items-center p-5 g-3 border border-secondary-subtle rounded bg-light-subtle mb-4">
    <h4>My Links</h4>
        <p> In this section, gain insights into your shortened URLs effortlessly. Discover details such as the shortened link itself, the original link it corresponds to, the precise date and time it was created, and the expiration date and time. Keep track of your URL shortening activity with ease and stay informed about the lifecycle of each link at a glance."</p>
        <button class="getLinksBtn btn btn-success p-2 col-2" type="submit">Show My Links</button>
        
  </div>

  <div class="col-10 m-3">
    <table class="list-of-links table table-striped rounded-3 table-responsive">
      <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Short Link</th>
        <th class="original-link" scope="col">Original Link</th>
        <th scope="col">Created at</th>
      </tr>
      </thead>
      <tbody class="table-body overflow-hidden">

      </tbody>
    </table>
</div>